# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node (in case package/dependency managers are used in the future)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Python temporary files (since it has a Python runtime/server setup)
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Local configuration / backups
*.local
.env
